<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<link rel="stylesheet" type="text/css" href="battle_field.css">
<link rel="stylesheet" type="text/css" href="soldier.css">
<script src="movements.js"></script>

<body onkeypress='Movements.move(event)'>
  <div id="root"></div> 
</body>  

<script type="text/babel" src='soldier.jsx'>
</script>
<script type="text/babel" src='battle_field.jsx'>
</script>

<script type="text/babel">

function renderBF(){
  const battleField = <BattleField />;
  ReactDOM.render(
    battleField,
    document.getElementById('root')
  );
}

setInterval(renderBF, 10);
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>