#control-panel{
  background: #F3F3F3;
  width: 100%;
  height: 199px;
  position: fixed;
  bottom: 0;
}

.control-panel-menu-button{
  padding:10px 0;
  float:left;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #1d0f0f;
}

.active{
  background: #17bde8;
  color: #FFF;
}

.panel{
  padding: 10px 10px;
}